body, html {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
.banner {
  width: 100%;
  height: 200px;
}

nav a , nav a span {
 color : #fff !important;
}

.footer {
  position:absolute;
  bottom:0;
  right:0;
  left:0;
  height:5%;
}