body {
    overflow-x: hidden;
}

.container{
    display:flex;
    position:relative;
    align-items:center;
    height:100vh;
    overflow:hidden;
    background-size:cover;
    background-attachment: fixed;
}


.homepage{
    margin-left: auto;
    margin-right:auto;
    z-index: 11;
    position:relative;
    color: #fff;
}

.homepage h1, .homepage a {
    color: #fff;
}

.homepage h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:36px;
    margin-bottom: 10px;
}
.homepage .box {
    border-right: 3px solid #fff;
    height: 300px;
}

.menu-slider-right {
    transition: all .2s;
    position: absolute;;
    background: #404040;
    width:0;
    z-index:100;
    right:0;
    height:100vh;
    max-width:300px;
    width:300px;
}

.menu-slider-right .logo {
    font-size:24px;
    color:#fff;
    text-align:center;
    margin: 80px auto 200px;
}

.menu-slider-children {
    overflow:hidden;
}

.menu-slider-button {
	position: absolute;
	top: 0px;
	right: 300px;
	text-align: center;
    width: 95px;
    text-transform:uppercase;   
	height: 42px;
	line-height: 42px;
	background: #404040;
	color: #fff;
	font-size: 18px;
	border-radius: 4px 0px 0px 4px;
	cursor: pointer;
	-webkit-transition: background .3s ease;
	-o-transition: background .3s ease;
	transition: background .3s ease;
}

.menu-slider-button-close {
    position: absolute;
	top: 0px;
	right: 300px;
	text-align: center;
    width: 50px;
    text-transform:uppercase;   
    height: 42px;
    font-size:14px;
	line-height: 42px;
	background: #404040;
	color: #fff;
	font-size: 18px;
	border-radius: 4px 0px 0px 4px;
	cursor: pointer;
	-webkit-transition: background .3s ease;
	-o-transition: background .3s ease;
    transition: background .3s ease;
    transition: right .2s;
}



.ant-menu {
    background: transparent;
    /* width:300px !important; */
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background: transparent;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-vertical .ant-menu-item {
   text-align:center;
   font-size:18px;
}






/**
   Header Music
*/
.abstract {
  width: 46.0417%;
  text-align: center; }
  @media all and (max-width: 600px) {
    .abstract {
      width: 60%; } }
  @media all and (max-width: 400px) {
    .abstract {
      width: 80%; } }
  .abstract h2 {
    font-size: 20px; }
  .abstract h3 {
    font-size: 28px;
    margin-bottom: 15px; }
  .abstract blockquote {
    font-style: italic; }

.abstract h2, .about h2, .contact h2 {
  text-align: center;
  overflow: hidden;
  color: #4d4d4d;
  font-weight: normal;
  text-transform: none; }
  .abstract h2:before, .abstract h2:after, .about h2:before, .about h2:after, .contact h2:before, .contact h2:after {
    background: #4d4d4d;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%; }
  .abstract h2:before, .about h2:before, .contact h2:before {
    right: 1.25em;
    margin-left: -50%; }
  .abstract h2:after, .about h2:after, .contact h2:after {
    left: 1.25em;
    margin-right: -50%; }
.abstract h3, .about h3, .contact h3 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #4d4d4d;
  color: #333333; }

/* PLAYER */
.audio {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    min-width: 320px;
    max-width: 1280px;
    width: 100%;
    height: 64px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff
}
.audio,
.audio * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0
}
.control {
    position: absolute;
    top: 0;
    width: 64px;
    height: 100%;
    background-color: #00aef6
}
.play-control {
    left: 0
}
.button {
    text-decoration: none;
    font-size: 32px;
    line-height: 64px;
    text-align: center;
    cursor: pointer;
    color: #fff
}
.button:before {
    display: inline-block;
    font-family: flat-audio;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    font-variant: normal;
    text-transform: none;
    speak: none;
    width: 64px;
    line-height: 64px;
    text-align: center;
    opacity: 1
}
.pause:before {
    content: '\2016'
}
.play:before {
    content: '\25b6'
}
.bar {
    position: absolute;
    top: 0;
    left: 64px;
    right: 0;
    height: 100%;
    background-color: #232323
}
.seek-bar {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    cursor: pointer;
    width: 100%;
}
.play-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0082b2
}
.details,
.timing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 0 12px;
    font-size: 16px;
    line-height: 64px
}
.timing {
    text-align: right
}
.title,
.duration {
    font-size: 16px;
    line-height: 64px
}

/* END PLAYER */